.mockupCopyLeft {
  width: 130%;
  height: 95%;
  margin: 0px 0px 0px 20px;
  
}

.mockupCopyRight {
    width: 130%;
    height: 95%;
    text-align: left;
  }
  
.listTwoColumn {
  padding: 10px 16px 2px 16px;
}
@media (min-width: 1180px) {
  .mockup-copy-left {
    width: 115%;
    height: 95%;
    margin-left: 2%;
    text-align: right;
    padding-right: 7%;
  }
}
